.AddProductParent{
    padding: 40px;
    width: 40%;
}
.AddProductParent h2{
    margin-bottom: 20px;
}

.AddProductParent .inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.AddProductParent .inputs input{
    height: 30px;
}

.AddProductParent .inputs label{
    font-size: 18px;
}

.AddProductParent .btn1,.btn2{
    padding: 7px 27px;
    color: #fff;
    background: #147dff;
    margin-top: 10px;
    border: none;

}